name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - release
      - master
  push:
    branches:
      - release
      - master
    tags:
      - 'v*.*.*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.env.outputs.environment }}
    steps:
      - name: Set Environment
        id: env
        run: |
          if [[ "${{ github.ref }}" == refs/tags/v* ]]; then
            echo "environment=Production" >> $GITHUB_OUTPUT
          elif [ "${{ github.ref }}" = "refs/heads/release" ]; then
            echo "environment=Staging" >> $GITHUB_OUTPUT
          else
            echo "environment=" >> $GITHUB_OUTPUT
          fi

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [setup]
    if: |
      always() && needs.setup.result == 'success'
    environment: ${{ needs.setup.outputs.environment }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Fly.io
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to Staging
        if: ${{ needs.setup.outputs.environment == 'Staging' }}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_TOKEN }}
        run: |
          flyctl deploy \
            --wg=false \
            --no-cache \
            --local-only \
            --config ./fly.io/staging/app.toml

      - name: Deploy to Production
        if: ${{ needs.setup.outputs.environment == 'Production' }}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_TOKEN }}
        run: |
          flyctl deploy \
            --wg=false \
            --no-cache \
            --local-only \
            --config ./fly.io/production/app.toml

  notification:
    name: Notification
    runs-on: ubuntu-latest
    needs: [setup, deploy]
    if: always()
    environment: ${{ needs.setup.outputs.environment }}
    steps:
      - name: Slack Notification for PR
        if: github.event_name == 'pull_request'
        uses: craftech-io/slack-action@v1
        with:
          slack_webhook_url: https://hooks.slack.com/services/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
          status: ${{ (needs.type-check.result == 'cancelled' && needs.lint-check.result == 'cancelled' && (needs.test-check.result == 'cancelled' || needs.test-check.result == 'skipped')) && 'cancelled' || (needs.type-check.result == 'success' && needs.lint-check.result == 'success' && (needs.test-check.result == 'success' || needs.test-check.result == 'skipped')) && 'success' || 'failure' }}

      - name: Slack Notification for Deploy
        if: github.event_name == 'push' && needs.deploy.result != 'skipped'
        uses: craftech-io/slack-action@v1
        with:
          slack_webhook_url: https://hooks.slack.com/services/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
          status: ${{ needs.deploy.result == 'success' && 'success' || needs.deploy.result == 'cancelled' && 'cancelled' || 'failure' }}

